@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: black;
color: white;
font-family: "Poppins", sans-serif;
/* font-weight: 100; */
font-style: normal;
}

/* utilities */

.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: space-between;
}

/* header  */

/* navbar */
.navbar{
 padding: 1rem 2rem;
}
.nav-section1 span{
  background-color: #fff;
  color: black;
  font-weight: 600;
  padding:0px 4px;
}
.nav-section2{
gap: 1.5rem;
}
.nav-section2 select{
  background-color: initial;
    color: rgb(206, 206, 206);
    font-size: initial;
    border: initial;
    padding: initial;
    margin: initial;
    box-shadow: initial;

}

.profileImage img{
  width: 30px;

}


.loginButton{
  color: black;
  background-color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .25rem;
  width: fit-content;
  border: none;
  box-shadow: none;
}
.loginButton:hover{
  cursor: pointer;
}
/* mainsection */
.line{
  color: rgb(94, 94, 94);
}
.backbutton{
  padding:1rem 3rem;
}
.backbutton button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* boxes  */
.boxes{
  /* width: fit-content; */
  align-items: center;
  margin-top: 1rem;
 
}

.box1{
  background-color: white;
  color: black;
  width: 50rem;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
}

.box1>div{
  justify-content: space-between;
  
}
.box1>div>div{
  gap: .5rem;
}

.design{
  background-color: #A9D9FF;
  padding:.25rem .5rem;
  border-radius: .3rem;
  font-size: .75rem;
}


.box1 .p1{
  font-weight: 600;
  font-size: 1rem;
}
.box1 .p2{

  font-size: .9rem;
}


.box1-low p{
gap: .5rem;
font-size: .75rem;
}
.box1 .companytype img{
  height: 50px;
}


/* box 2 */
.box2 {

  background-color: #DEE7FF;
  justify-content: center;
  
}
.box-profileImage img{
  height: 45px;
}
.box-userInfo{
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.box-userInfo .box-username{
  font-weight: 700;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  /* width: 80%; */
}
.comment-box div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 .comment-box{
  justify-content: center;
  gap: .5rem;
}


.comment-box input{
  width: 35rem;
  background-color: transparent;
  border: solid 1px black;
  padding: .25rem .5rem;
  border-radius: .5rem;

}

.comment-box button{
  background-color: #F5F5F580;
  border: 1px solid black;
  border-radius: .3rem;
  color: rgb(64, 64, 64);
  padding:.2rem .5rem;
  
}


.dropdown-new{
  background-color: #F8F8F8;
  color: rgb(15, 15, 15);
  font-size: initial;
  border: initial;
  padding: .3rem .5rem;
  margin-left:.5rem;
  box-shadow: initial;
  border-radius: .3rem;
}


.answers{
  display: flex;
  justify-content: space-between;
width: 53rem;
/* gap: 30rem; */

padding: 0rem 1rem;
}




/* feedback */
.feedback{
  position: fixed;
  bottom: .5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}



.feedback-buttons{
  background-color: white;
  width: fit-content;
  padding: .5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 margin:0.35rem;
}
.line{
 background-color:#4d4d4d;
  width: full;
  height: 1px;
  width: 100%;
  margin-bottom: 1rem;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  border: 1px solid white;
 margin: .25rem 0;
}


.feedback-buttons img{
  height: 1.25rem;
}

.feedback-buttons:hover{
  cursor: pointer;
}




.feedbackmenu{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}


.feedbackmenu.expanded{
  max-height:500px ;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}



.feedback-button-expand{
  display: flex;
  justify-content:right;
  align-items: center;
}


.feedback-button-desc{
  background-color: #F8F8F8;
  display: block;
  padding: .5rem;
  border-radius: .25rem;
  color: black;
  font-size: .75rem;
  font-weight: 600;
  margin: 0 .25rem;
}


.hide-feedback-button-desc{
display: none;
}




/* report issue card */

.report-issue{
  background-color: #F8F8F8;
  border-radius: 1rem;
  color: #525252;
  width: 18rem;
  height: fit-content;
  padding:.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
  box-shadow: -2px 2px 10px #525252;
 
}
.report-issue label{
  font-weight: 600;
  font-size: .85rem;
}
 sub{
  color: red;
}
.report-issue form{
  display: flex;
  flex-direction: column;
 

 width: 100%;
  gap: .5rem;
}

.report-issue form div{
  width: 100%;
  display: flex;
 justify-content: end;
}
.report-issue form .button-disabled{
  background-color: #6c6c6c;
  /* background-color: black; */
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .25rem;
  width: fit-content;
  border: none;
  box-shadow: none;
  
}
.report-issue form .button-enabled{
  /* background-color: #6c6c6c; */
  background-color: black;
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .25rem;
  width: fit-content;
  border: none;
  box-shadow: none;
  
}

.report-issue h4{
  text-align: center;
  color: #4d4d4d;
  font-size: .9rem;
}

.report-issue h4 span{
  color: black;
}

.report-issue select{
  background-color: #e0e0e0;
  padding: .5rem;
  border-radius: .4rem;
  font-weight: 600;
  border: none;
}
.report-issue textarea{
  background-color: #e0e0e0;
border-radius: .5rem;
padding: .75rem;
border: none;
font-family: 'Poppins', sans-serif!important;
}
.loggedout  input{
  background-color:#e0e0e0 ;
  border-radius: .5rem;
padding: .75rem;
border: none;
margin-top: 0rem;
width: 92%;

}

.loggedout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: .5rem;
}

.report-issue .attach-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  font-size: .75rem;
  position: relative;
  bottom: 2.75rem;
  left: .5rem;
}

.report-issue .attach-button input[type="file"] {
  display: none;
}

.report-issue .attach-button span {
  display: inline-flex;
  align-items: center;
}

.report-issue .attach-button span::before {
  content: '🔗';
  margin-right: 5px;
}


.cardisopen{
  display: flex;
 
  justify-content: center;
  align-items: center;
}
.cardisclosed{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: end;
}




/*share feedback*/

.feedbackbox{
  background-color: #F8F8F8;
  border-radius: 1rem;
  color: #525252;
  width: 18rem;
  height: fit-content;
  padding:.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: .5rem 0;
  box-shadow: -2px 2px 10px #525252;
  
  
}


.feedbackbox form{
  display: flex;
  flex-direction: column;


 width: 100%;
  gap: .25rem;
}


.feedbackbox .attach-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  font-size: .75rem;

  position: relative;
  bottom: 2.5rem;
  left: .5rem;
  font-weight: 600;
}

.feedbackbox .attach-button input[type="file"] {
  display: none;
}

.feedbackbox .attach-button span {
  display: inline-flex;
  align-items: center;
}

.feedbackbox .attach-button span::before {
  content: '🔗';
  margin-right: 5px;
}

.button-at-end{
  width: 100%;
  display: flex;
 justify-content: end;
}
.feedbackbox form .button-disabled{
  background-color: #6c6c6c;
  /* background-color: black; */
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .25rem;
  width: fit-content;
  border: none;
  box-shadow: none;
  
}
.feedbackbox form .button-enabled{
  /* background-color: #6c6c6c; */
  background-color: black;
  color: white;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: .25rem;
  width: fit-content;
  border: none;
  box-shadow: none;
  
}

.feedbackbox h4{
  font-size: .9rem;
  text-align: center;
  color: #4d4d4d;
}

.feedbackbox h4 span{
  color: black;
}
/* .feedbackbox div{
  display: flex;
  align-items: center;
  gap: .2rem;
} */
.feedbackbox div label{
  font-size: .80rem;

}
.feedbackbox textarea{
  background-color: #e0e0e0;
border-radius: .5rem;
padding: .75rem;
border: none;
font-family: 'Poppins', sans-serif!important;
}


.contactbox form input{
  background-color:#e0e0e0 ;
  border-radius: .5rem;
padding: .75rem;
border: none;
}







.speech-bubble {
  position: relative;
  background: #fff;
  color: black;
  border-radius: .4em;
  padding: .25rem 1.5rem;
  margin: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: fit-content;
  font-size: .85rem;
  border-radius: .25rem;
  font-weight: 600;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: 5px; /* Adjust according to the tail height */
  left: 95%;
  margin-left: -15px; /* Adjust according to the tail width */
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff; /* Same as the bubble background */
  border-bottom: 0;
  border-right: 0;
  
  margin-bottom: -15px; /* Adjust according to the tail height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}







/* responsive design  */



@media only screen and (max-width: 600px){
	.navbar{
    padding: 1rem 1rem;
  }
.nav-section2 select {
  display:none;
}
.nav-section2{
  justify-content: center;
  gap: .25rem;
  align-items: center;
}
 
  .open-options img{
    height: 1.75rem;
      }

 .feedback-buttons{
  margin: .5rem;
 }
  .feedback{
    width: 80vw;
    bottom: -1rem;
    padding-bottom: 1rem;
    flex-direction: column-reverse;
  }

  .report-issue{
    width: 88vw;
   margin: 0 0;
  }

  .feedbackbox{
    width: 88vw;
    margin: 0 0;
  }

  .box1{
    width:80vw;
  }
  .answers{
    width: 90vw;
  }

  .comment-box input{
    width: 50vw;
  }

  .overlay{
    background-color: black;
    opacity: .7;
    height: 110vh;
    width: 110vw;
    position: fixed;
    top: 0;
    right: 0;
  }
}